<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Boggle </title>
    <link rel="stylesheet" href="/static/boggle.css">
    
</head>
<body>
   {% block start %} {% endblock %} 
   {% block board %} {% endblock %}
   {% block guess %} {% endblock %}
   {% block stats %} {% endblock %}
   {% block boggle_js %} {% endblock %}
</body>
</html>